
.AboutMe{
    display:grid;
    justify-items:center; 
    background:#0e0e0e;   
     color:white;
}
.about-section{
    max-width:550px;
    padding:2rem
}
.cat-container{
    display:flex;
    justify-content:center;
    padding-top:2rem
}

.c{
    background:#181A21;
    width:100%;
    display:flex;
    justify-content:center
}
.inactive{
    display:none
}