.article-box{
    padding-block: 3rem;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:2rem;
    align-items: center;
  }


@media (max-width:775px) {
    .article-box{
      display:grid;
      grid-template-rows:1fr 1fr;
       grid-template-columns:1fr 
      
    }
  }