.links-container{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.lista-de-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.optionsSection{
    text-decoration:none;
    font-size:1.3rem;
    color:white;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    text-align: center;
    border-radius: 30px;
}
.optionsSection:hover{
    text-decoration:underline;
    
}