.Main-container{
    width:100%;
    height:100%;
    background:#1F1F1F
  }
.article-container{
  background:#1F1F1F;
}
  .cart-img-container{
  margin:0 auto;
  width:18rem;
  height:20rem;
  
  }
.cart-img-container img{
  border:8px solid #181818;
   width:100%;
   height:100%;
}
  .cart-container{
    padding-block: 3rem;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:2rem;
    align-items: center;
  }
  .description-container{
    width:73%;
  }
  .description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;

  }

  .moreAboutMe{
    font-size: 1.5rem;
    border-bottom: 5px dotted #ED0083;
    top: 4rem;
  }
  .linea{
    top: 4rem;
    border:3px dashed yellow;
    width: 5rem;
    margin-top: -2rem;
  }
  .info{
    font-size: 1.5rem;
  }
  .btnMoreOfMe{
  display:flex;
  border: 4px double #ED0083;
  background: transparent;
  width: 12rem;
  height: 3rem;
  color: #ED0083;
  font-size: 1.5rem;
  justify-content:center;
  align-items: center;
  text-decoration:none
  }
  .btnMoreOfMe:hover{
    background:#ED0083;
    color:white;
    border: 4px double white;
  }
  .button-container{
    display: flex;
    justify-content: center;
  }
  @media (max-width:775px) {
    .cart-container{
      display:grid;
      grid-template-rows:1fr 1fr;
      grid-template-columns:1fr
      
    }
  }