.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
  }
  .visual-container{
    display: grid;
    justify-items: center;
  }
  .carrusel{
  display:flex;
  overflow-x:scroll;
  overflow-behavior-x:contain;
  scroll-snap-type: x proximity;
  padding: 2rem;
  gap:4rem;
  width:15rem
  }
  .elemento{
    display:flex;
    scroll-snap-align:center;
    border-radius: 10%;
    position: relative;
    margin-bottom: 40px;
    max-width:18rem;
    justify-content:center;
    align-items:center;
  }
  .project-img{
     display: flex;
    justify-content: center;
    
  }
  .project-img img{
    height:15rem;
    width:18rem;
    border-radius: 10%;
  }
  .project-description{
     position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    width:18rem;
    top: 0px;
    height:100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center; 
  }
  .project-description h2{
    color: yellow;
    font-size: 1.5rem;
  }
  .project-description p{
    color: white;
    font-size: 1rem;
  } 
  @media (min-width:886px){
    .project-img{
      width:23rem
    }
    
    .carrusel{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      justify-items: center;
      width:auto
      }

  }